@{
    ViewData["Title"] = "Home Page";
}

<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(img/slide-1.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        São Paulo, SP
                                        <br> 04824-020
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">R.Mamoneira </span> Nº38
                                        <br> Parque das Arvores
                                    </h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(img/slide-2.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        São Paulo, SP
                                        <br> 04824-020
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">R.Mamoneira </span> Nº38
                                        <br> Parque das Arvores
                                    </h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Carousel end /-->
<!--/ Services Star /-->
<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Serviços</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-envira" aria-hidden="true"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Jardinagem</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                            convallis a pellentesque
                            nec, egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">
                            Read more
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Mensageria</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
                            aliquet elit, eget tincidunt
                            nibh pulvinar a.
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">
                            Read more
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-eye" aria-hidden="true"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c">Portaria</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c">
                            Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                            convallis a pellentesque
                            nec, egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer-c">
                        <a href="#" class="link-c link-icon">
                            Read more
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Services End /-->
<!--/ Property Star /-->
<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Conheça o bairro</h2>
                    </div>
                    <div class="title-link">
                        <a href="property-grid.html">
                            Todos os comercios
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/img\Terminalgrajau.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">
                                        Terminal de onibus
                                        <br /> Grajau
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                </div>
                                <a href="#" class="link-a">
                                    Click here to view
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Distância</h4>
                                        <span>
                                            340m
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Carro</h4>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Apé</h4>
                                        <span>4</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/img\Assaiatacadista.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">
                                        Atacadista
                                        <br /> Assaí
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                </div>
                                <a href="property-single.html" class="link-a">
                                    Click here to view
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Distância</h4>
                                        <span>
                                            340m
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Carro</h4>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Apé</h4>
                                        <span>4</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/img\drograia.JPG" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">
                                        Drogaria
                                        <br /> São Paulo
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                </div>
                                <a href="property-single.html" class="link-a">
                                    Click here to view
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Distância</h4>
                                        <span>
                                            340m
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Carro</h4>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Apé</h4>
                                        <span>4</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/img\mcdonalds.JPG" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="property-single.html">
                                        Lanchonete
                                        <br /> Mc Donalds
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                </div>
                                <a href="property-single.html" class="link-a">
                                    Click here to view
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Distância</h4>
                                        <span>
                                            340m
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Carro</h4>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Apé</h4>
                                        <span>4</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Property End /-->
<!--/ News Star /-->
<section class="section-news section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Blog COPADA</h2>
                    </div>
                    <div class="title-link">
                        <a href="blog-grid.html">
                            Todas as Materias
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="new-carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="/img/post-2.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">House</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        House is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="/img/post-5.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Travel</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        Travel is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="/img/post-7.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Park</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        Park is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="/img/post-3.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Travel</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="#">
                                        Travel is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ News End /-->
<!--/ Testimonials Star /-->
<section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Notificações Urgentes</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="testimonial-carousel" class="owl-carousel owl-arrow">
            <div class="carousel-item-a">
                <div class="testimonials-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-img">
                                <img src="/img\caixadeagua.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-ico">
                                <span class="ion-ios-quote"></span>
                            </div>
                            <div class="testimonials-content">
                                <p class="testimonial-text">
                                    Dia 26/12/2020 Tecnicos da higienização das caixas estiveram no condominio para limpar as caixas
                                    secundarias dos blocos "A","B","C","D".
                                    Em breve haverá a segunda etapa para higenização completa de cada caixa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a">
                <div class="testimonials-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-img">
                                <img src="/img\convocação.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-ico">
                                <span class="ion-ios-quote"></span>
                            </div>
                            <div class="testimonials-content">
                                <p class="testimonial-text">
                                    Lembrando que no proximo dia 22/01 o haverá assembléia geral Ordinária.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Testimonials End /-->
<!--/ footer Star /-->


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/popper/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/scrollreveal/scrollreveal.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>
